.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
}

.App-converters {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-converter {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.App-light {
  background-color: #ffffff;
}

.App-dark {
  background-color: #c1c1c1;
}

.negative {
  border: 3px solid palevioletred;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
